@font-face {
  font-family: 'IntegralCF';
  src: url('../fonts/IntegralCF-Heavy.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MadeTommy-Regular';
  src: url('../fonts/MadeTommy-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MadeTommy-Medium';
  src: url('../fonts/MadeTommy-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MadeTommy-Bold';
  src: url('../fonts/MadeTommy-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MadeTommy-Black';
  src: url('../fonts/MadeTommy-Black.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Regular';
  src: url('../fonts/IntegralCF-Regular.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('../fonts/IntegralCF-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FD3D57;
  transition: background-color 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  color: white;
  font-family: 'MadeTommy-Regular', sans-serif;
  font-size: 14px;
  //cursor: none;
}

.page-leave-active {
  transition: all 0.7s ease-in-out;
  opacity: 0;
}

.page-enter-active {
  transition: all 2s ease-in-out;
}

.page-enter {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

.wrap {
  margin: 0 auto;
  max-width: 1280px;
}

@media all and (max-width: 980px) {
  .wrap {
    margin: 0 90px;
  }
}

@media all and (max-width: 580px) {
  .wrap {
    margin: 0 50px;
  }
}

.section-title {
  position: relative;
  display: block;
  margin: 0 auto 9rem auto;
  font-family: "MadeTommy-Black";

  &-quote {
    font-family: "IntegralCF-Bold";
    font-size: 190px;
    opacity: 0.06;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: auto;
    white-space: nowrap;
  }

  .darkTitle {
    color: black;
  }

  .whiteTitle {
    color: white;
  }

  &-mainTitle {
    font-size: 80px;
    text-align: center;



    span {
      color: #FD3D57;
    }
  }

  &-contour {
    color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FD3D57;
    font-size: 50px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media all and (max-width: 767px) {
    font-size: 50px;
    &-contour {
      -webkit-text-stroke-width: 1px;
      font-size: 25px;
      bottom: -20px;
    }
  }
}










