@font-face {
  font-family: 'IntegralCF';
  src: url('../fonts/IntegralCF-Heavy.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Regular';
  src: url('../fonts/IntegralCF-Regular.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('../fonts/IntegralCF-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  background: radial-gradient(#160089, #0B0045) fixed;
  color: white;
  font-family: 'IntegralCF', sans-serif;
  font-size: 100px;
  //cursor: none;
}

.page-leave-active {
  transition: all 0.7s ease-in-out;
  opacity: 0;
}

.page-enter-active {
  transition: all 2s ease-in-out;
}

.page-enter {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

.wrap {
  margin: 0 140px;
}

@media all and (max-width: 980px) {
  .wrap {
    margin: 0 90px;
  }
}

@media all and (max-width: 580px) {
  .wrap {
    margin: 0 50px;
  }
}

.section-title {
  font-size: 100px;
  position: relative;
  display: block;
  width: fit-content;
  margin-bottom: 90px;

  &-mainTitle {

  }

  &-contour {
    color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FD3D57;
    font-size: 50px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media all and (max-width: 767px) {
    font-size: 50px;
    &-contour {
      -webkit-text-stroke-width: 1px;
      font-size: 25px;
      bottom: -20px;
    }
  }
}










